RevitAddon/CDWKS.RevitAddon.Indexer2012/Service References/RevitFileServiceReference/AutodeskFileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56866/AutodeskFileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CDWKS.Model.Poco.Content" />
  <xs:element name="IndexAutodeskFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CDWKS.Model.Poco.Content" minOccurs="0" name="file" nillable="true" type="q1:AutodeskFile" />
        <xs:element minOccurs="0" name="overwrite" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexAutodeskFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndexAutodeskFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypeToFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CDWKS.Model.Poco.Content" minOccurs="0" name="item" nillable="true" type="q2:Item" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypeToFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTypeToFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLibraryTreeView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tree" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revitVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLibraryTreeViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLibraryTreeViewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutodeskFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="libraryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutodeskFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CDWKS.Model.Poco.Content" minOccurs="0" name="GetAutodeskFileResult" nillable="true" type="q3:AutodeskFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libraryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentLibraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentLibraryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>